body {
  background-color: antiquewhite;
}

#btn {
  margin: 6rem;
  width: 10rem;
  height: 5rem;
  font-size: 1.5rem;
  border-radius: 10px;
  border: 1px solid;
}

#btn:hover {
  cursor: pointer;
  background-color: rgb(235, 235, 235);
}
